.footer-line {
  color: rgb(188, 188, 188);
  text-align: left;
  font-size: medium;
  margin: 60px 0px 40px;
}

.number {
  text-decoration: underline;
  display: inline-block;
}
.footer-links {
  max-width: 800px;
  justify-content: space-between;
}

.footer-links li {
  margin: 5px 0px;
}

.footer-links a {
  color: rgb(179, 179, 179);
  font-size: small;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
}

.language-selector {
  margin: 40px 0px 20px;
}

.last-line {
  font-size: medium;
  color: rgb(192, 192, 192);
  margin-bottom: 60px;
}
